What about JMAP?

It's my understanding that [JMAP](https://en.wikipedia.org/wiki/JSON_Meta_Application_Protocol) offers a similar client/server protocol but has gone through intensive usage at Fastmail, is implemented in Cyrus and Apache James while Dovecot is working on it (although, not entirely sure of status).

It's also an IETF spec, see [RFC8620](https://tools.ietf.org/html/rfc8620) [RFC8621](https://tools.ietf.org/html/rfc8621) [RFC8887](https://tools.ietf.org/html/rfc8887)

Although, perhaps it's simply my misunderstanding and TMTP is more targeted to server-to-server communication? I still think it would probably be a good idea to take inspiration and/or try to consolidate the efforts and take definitions from there.

Sorry if it's inappropriate!

Thanks for your question!

JMAP fits between email apps (MUAs in the lingo) and email hosts, synchronizing user accounts both ways, much like IMAP. It has optimizations for mobile apps. It extends the email ecosystem; it's not trying to solve the fundamental problems that TMTP addresses.

TMTP doesn't define any server-to-server communication. See [the new FAQ](https://mnmnotmail.org/faq.html) for details.
